<div class="col-md-4">
    <div class="card" style="width: 18rem">
        <img class="card-img-top" src="..." alt="Card image cap" />
        <div class="card-body">
            <h5 class="card-title"><a href="/community/{{name}}">{{name}}</a></h5>
            <p class="card-text">
                Come visit our <a href="/community/{{name}}">{{name}}</a> community!
            </p>
            <a href="#" class="btn btn-primary">Explore</a>
        </div>
    </div>
</div>