<section>
    <div class="card">
        <div class="card-header white d-flex justify-content-between">
            <p class="h5-responsive font-weight-bold mb-0">Conversations</p>
        </div>
        <div class="card-body my-custom-scrollbar-inbox inbox">
            <div class="media conversation" data-id="msg1">
                <div class="media-body">
                    <p class="mt-0 font-weight-bold small mb-1">
                        Johny Danish<span class="text-muted float-right small mt-3p">12 Nov 3:00
                            PM</span>
                    </p>
                    <p class="mb-0 font-weight-light small grey lighten-2 p-2 rounded">
                        Is this template really for free? That's unbelievable!
                    </p>
                </div>
            </div>
            <div class="media conversation" data-id="msg2">
                <div class="media-body">
                    <p class="mt-0 font-weight-bold small mb-1">
                        Sam Spade<span class="text-muted float-right small mt-3p">12 Nov 3:00 PM</span>
                    </p>
                    <p class="mb-0 font-weight-light small grey lighten-2 p-2 rounded">
                        Can you approve that PR for me?
                    </p>
                </div>
            </div>
        </div>
        <div class="card-footer white py-3">
            <button class="btn btn-primary btn-sm mb-0 mr-0 new-conversation">New Conversation</button>
        </div>
    </div>
</section>
<script src="/assets/js/inbox.js"></script>