<link rel="stylesheet" href="/assets/css/livewall.css">
<div class="card w-100">
    <div class="card-body">
        <h4 class="card-title">Live Wall</h4>
        <div class="container">
            <div class="row">
                <div class="col-sm-12" id="message-form">
                    <form class="md-form input-group textarea-border">
                        <textarea class="md-textarea form-control" id="message-input" rows="3"
                            placeholder="Speak your mind..."></textarea>
                    </form>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-8">
                                    <p class="chat-activity" id="chat-activity"></p>
                                </div>
                                <div class="col-sm-4">
                                    <button type="submit" id="message-submit"
                                        class="btn btn-primary btn-sm btn-rounded float-right">Speak</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="posts" class="container-fluid mt-3">
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.1/socket.io.min.js"></script>
<script>
    const geo = "{{geo}}"
    const community = "{{community}}"
</script>
<script src="/assets/js/livewall.js"></script>