<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>Geoverse</title>
	<!-- Font Awesome -->
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
	<!-- Google Fonts -->
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />

	<!-- Bootstrap core CSS -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
		rel="stylesheet" />
	<!-- Material Design Bootstrap -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet" />
	<link rel="stylesheet" href="/assets/css/style.css" />
	<!-- JQuery -->
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript"
		src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>
</head>

<body>
	<!--Main Navigation-->
	<header>
		<nav class="navbar navbar-dark navbar-expand-lg fixed-top">
			<a class="navbar-brand" href="/"> Geoverse </a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-items"
				aria-controls="navbar-items" aria-expanded="false" aria-label="Toggle navigation">
				<!-- <span class="navbar-toggler-icon"></span> -->
				<i class="fas fa-bars"></i>
			</button>
			<div class="collapse navbar-collapse navbar-items" id="navbar-items">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link" href=""><i class="fas fa-building"></i><span
								class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href=""><i class="fas fa-envelope"></i></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href=""><i class="fas fa-user"></i></a>
					</li>
				</ul>
			</div>
		</nav>
	</header>
	<!--Main Navigation-->
	<main>
		{{{ body }}}
	</main>

</body>
<script src="/assets/js/index.js"></script>

</html>