<link rel="stylesheet" href="/assets/css/createmypage.css">
<div class="jumbotron peach-gradient">
    <h2 class="h1-responsive font-weight-bold text-center my-4 white-text">Sample Community</h2>
</div>

<div class="container"></div>
<script></script>