<link rel="stylesheet" href="/assets/css/style.css">
<div class="jumbotron peach-gradient">
    <h2 class="h1-responsive font-weight-bold text-center my-4 white-text">Sample Community</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Placeholder Card</h4>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent nibh purus,
                        mollis ut aliquam id, imperdiet at mauris. Cras tristique nulla sapien. Pellentesque blandit
                        rutrum nulla nec volutpat. Integer lacinia, nunc quis pretium luctus, turpis mi ultricies risus,
                        sed aliquam orci odio ut justo. Sed sed arcu fermentum, aliquam libero id, consequat quam.</p>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            {{> livewall}}
        </div>
    </div>
</div>
<script></script>