<link rel="stylesheet" href="/assets/css/style.css" />
<div class="jumbotron peach-gradient">
  <h2 class="h1-responsive font-weight-bold text-center my-4 white-text">Sample Community</h2>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Communities</h5>
          <p class="card-text">Please see this freshly updated community here</p>
          <a class="card-link">Card link</a>
          <a class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Communities</h5>
          <p class="card-text">Please see this freshly updated community here</p>
          <a class="card-link">Card link</a>
          <a class="card-link">Another link</a>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Communities</h5>
          <p class="card-text">Please see this freshly updated community here</p>
          <a class="card-link">Card link</a>
          <a class="card-link">Another link</a>
        </div>
      </div>
    </div>
  </div>
</div>
<script></script>
