<link rel="stylesheet" href="/assets/css/createmypage.css">
<div class="jumbotron peach-gradient">
    <h2 class="h1-responsive font-weight-bold text-center my-4 white-text">Create your MyPage</h2>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="h1-responsive text-center my-4">Enter MyPage details</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="md-form form-lg">
                <input type="text" id="mp-title" class="form-control form-control-lg">
                <label for="mp-title">Enter a title for your MyPage</label>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <label for="mp-url">Enter your MyPage URL</label>
            <div class="md-form input-group mt-0 mb-3">
                <div class="input-group-prepend">
                    <span
                        class="input-group-text md-addon">https://www.geoverse.com/sites/{{{geo}}}/{{{community}}}/</span>
                </div>
                <input type="text" class="form-control" id="mp-url">
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="md-form input-group textarea-border">
                {{!-- <div class="input-group-prepend">
                    <span class="input-group-text md-addon">Paste HTML</span>
                </div> --}}
                <textarea class="md-textarea form-control" id="mp-html" rows="10"></textarea>
                <label for="mp-html">Paste in your HTML</label>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12 text-center">
            <button class="btn btn-info btn-lg my-4" id="create-mypage" type="button">Create MyPage</button>
        </div>
    </div>

</div>
<script src="/assets/js/createmypage.js"></script>