<link rel="stylesheet" href="/assets/css/style.css" />
<div class="jumbotron peach-gradient">
    <h2 class="h1-responsive font-weight-bold text-center my-4 white-text">Geos</h2>
</div>

<div class="container mt-5">
    <div class="row">
        {{#each geos}}
        <div class="col-md-4">
            <a class="search-card-link" href="/sites/{{this.name}}">
                <div class="search-card card mx-auto">
                    <div class="card-body">
                        <h5 class="card-title">{{this.name}}</h5>
                    </div>
            </a>
        </div>
    </div>
    {{/each}}
</div>
</div>