<div class="container-fluid pt-5">
    <div class="jumbotron card card-image"
        style="background-image: url(‘assets/images/Earth.jpg’);background-size:cover">
        <div class="text-white text-center py-5 px-4">
            <div>
                <h2>Welcome <span class="active-user"></span></h2>
                <h2 class="card-title h1-responsive pt-3 mb-5 font-bold"><strong>Index</strong></h2>
                <p class="mx-5 mb-5">Lorem ipsum dolor sit amet, consectetur adipisicin/g elit. Repellat fugiat,
                    laboriosam, voluptatem,
                    optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos. Odit
                    sed qui, dolorum!
                </p>
                <!-- Search form -->
                <form class="form-inline">
                    <i class="fas fa-search" aria-hidden="true"></i>
                    {{!-- <input class="form-control form-control-sm ml-3 w-75 searchEngine" type="text" placeholder="Search"
                        aria-label="Search"> --}}
                    <div class="active-cyan-4 mb-4">
                        <input class="form-control form-control-md ml-3 w-100 searchEngine" type="text"
                            placeholder="Search" aria-label="Search">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>