<link rel="stylesheet" href="/assets/css/style.css" />
<div class="jumbotron peach-gradient">
    <h2 class="h1-responsive font-weight-bold text-center my-4 white-text">Sites</h2>
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-4 w-100">
            <button class="btn btn-pink btn-block" id="create-mypage">Create a MyPage</button>
            {{#each sites}}
            <a class="search-card-link" href="/sites/{{geo}}/{{community}}/{{name}}">
                <div class="search-card card mx-auto">
                    <div class="card-body">
                        <h5 class="card-title">{{title}}</h5>
                    </div>
                </div>
            </a>
            {{/each}}
        </div>
        <div class="col-md-8 w-100">
            {{> livewall}}
        </div>
    </div>
</div>
<script src="/assets/js/sites.js"></script>