<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Geo-verse</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" />
    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css"
        rel="stylesheet" />
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/css/mdb.min.css" rel="stylesheet" />
    <!-- JQuery -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript"
        src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.19.1/js/mdb.min.js"></script>


</head>

<body>
    <div>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12">

                    <div class="card signup-card mx-auto">

                        <h5 class="card-header white-text text-center py-4">
                            <strong class="active-user"></strong>'s' Profile
                        </h5>

                        <!--Card content-->
                        <div class="card-body px-lg-5 pt-0">

                            <!-- Form -->
                            <form class="text-center update" style="color: #757575;" action="#!" method="POST">

                                <div class="form-row">
                                    <div class="col">
                                        <!-- First name -->
                                        <div class="md-form">
                                            <input type="text" id="firstNameField" class="form-control">
                                            <label for="firstName">Change first name</label>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <!-- Last name -->
                                        <div class="md-form">
                                            <input type="text" id="lastNameField" class="form-control">
                                            <label for="lastName">Change last name</label>
                                        </div>
                                    </div>
                                </div>


                                <div class="md-form">
                                    <input type="password" id="passwordField" class="form-control"
                                        aria-describedby="FormPasswordHelpBlock">
                                    <label for="password">Change Password</label>
                                    <small id="FormPasswordHelpBlock" class="form-text text-muted mb-4">
                                        Must contain at least: 1 uppercase letter, 1 alphanumeric character and 1
                                        special
                                        character
                                    </small>
                                </div>
                                <div style="display: none" id="alert" class="alert alert-danger" role="alert">
                                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Error:</span> <span class="msg"></span>
                                </div>
                                <!-- Sign up button -->
                                <button
                                    class="signin-btn btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"
                                    type="submit">Edit Details
                                </button>

                                <div class="modal fade" id="loginModal" tabindex="-1" aria-hidden="true">
                                    <div class="modal-dialog modal-sm">
                                        <div class="modal-content text-center">
                                            <div class="modal-body">
                                                <p class="pt-3" id="loginModalText"></p>
                                            </div>
                                            <button type="button" class="btn btn-dark" data-dismiss="modal">OK</button>
                                        </div>
                                    </div>
                                </div>


                            </form>
                            <!-- Form -->

                        </div>

                    </div>

                </div>

            </div>
        </div>
        <script type="text/javascript" src="/assets/js/user-profile.js"></script>
        <script type="text/javascript" src="/assets/js/index.js"></script>
</body>

</html>