.my-custom-scrollbar {
  position: relative;
  height: 500px;
  overflow: auto;
}

.my-custom-scrollbar-conv {
  position: relative;
  height: 550px;
  overflow: auto;
}

.card-img-35 {
  width: 35px;
}

.mt-3p {
  margin-top: 3px;
}

.conversation:hover {
  cursor: pointer;
}

.conversation {
  padding-bottom: 10px;
}
